<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About Us</h1>

    <div>
      <% for (const friend of friends) { %>
      <div>
        <h4><%= friend %></h4>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ad
          nesciunt soluta dignissimos molestias! Repudiandae mollitia assumenda
          quia eos officiis sapiente dicta nam voluptatibus fugiat fuga
          voluptatem a, iste sequi.
        </p>
      </div>
      <% } %>
    </div>
  </body>
</html>
