<%- include("partials/head")%>
  <body>
    <%- include("partials/navbar") %>
    <h1><%= subreddit %> Not Found</h1>

    <h1>We are sorry! Page not Found!!!</h1>

    <%- include("partials/footer") %>